---
use_default_settings: true

general:
  debug: false
  instance_name: "SearXNG"

search:
  safe_search: 2
  autocomplete: 'duckduckgo'
  formats:
    - html
    - json

server:
  # Is overwritten by ${SEARXNG_SECRET}
  secret_key: {{searxng_secret_key}}
  limiter: true
  image_proxy: true
  # public URL of the instance, to ensure correct inbound links. Is overwritten
  # by ${SEARXNG_URL}.
  # base_url: http://example.com/location

redis:
  # URL to connect redis database. Is overwritten by ${SEARXNG_REDIS_URL}.
  url: unix:///usr/local/searxng-redis/run/redis.sock?db=0

ui:
  static_use_hash: true

# preferences:
#   lock:
#     - autocomplete
#     - method

enabled_plugins:
  - 'Hash plugin'
  - 'Self Informations'
  - 'Tracker URL remover'
  - 'Ahmia blacklist'
  - 'Hostnames plugin'
  # - 'Open Access DOI rewrite'

# plugins:
#   - only_show_green_results

hostnames:
  replace:
    '(www\.)?reddit\.com$': 'old.reddit.com'
    '(www\.)?medium\.com$': 'scribe.rip'
    '(www\.)?quora\.com$': 'quetre.catsarch.com'
  remove:
    - 'forbes.com'
    - 'investopedia.com'
    - 'people.com'
    - 'betterhomesandgardens.com'
    - 'allrecipes.com'
    - 'verywellfamily.com'
    - 'thespruceeats.com'
    - 'verywellhealth.com'
    - 'verywellmind.com'
    - 'entertainment.com'
    - 'simplyrecipes.com'
    - 'byrdie.com'
    - 'thoughtco.com'
    - 'brides.com'
    - 'southernliving.com'
    - 'lifewire.com'
    - 'serious'
    - 'liquor.com'
    - 'verywellfit.com'
    - 'thespruce.com'
    - 'thesprucepets.com'
    - 'travelandleisure.com'
    - 'foodandwine.com'
    - 'realsimple.com'
    - 'health.com'
    - 'instyle.com'
    - 'eatingwell.com'
    - 'dailypaws.com'
    - 'parents.com'
    - 'marthastewart.com'
    - 'fandom.com'
    - 'muthead.com'
    - 'fanatical.com'
    - 'tvguide.com'
    - 'metacritic.com'
    - 'gamespot.com'
    - 'giantbomb.com'
    - 'bustle.com'
    - 'inverse.com'
    - 'nylon.com'
    - 'scarymommy.com'
    - 'tzr.com'
    - 'thedad.com'
    - 'romper.com'
    - 'fatherly.com'
    - 'flavorwire.com'
    - 'elitedaily.com'
    - 'mic.com'
    - 'ipvanish.com'
    - 'mayoclinic.org'
    - 'moz.com'
    - 'mashable.com'
    - 'everydayhealth.com'
    - 'speedtest.net'
    - 'retailmenot.com'
    - 'vouchercodes.com'
    - 'babycenter.com'
    - 'spiceworks.com'
    - 'mapgenie.io'
    - 'offers.com'
    - 'ookla.com'
    - 'dailyom.com'
    - 'humblebundle.com'
    - 'ign.com'
    - 'pcmag.com'
    - 'efax.com'
    - 'downdetector.com'
    - 'castleconnolly.com'
    - 'askmen.com'
    - 'blackfriday.com'
    - 'whattoexpect.com'
    - 'emmasdiary.co.uk'
    - 'pouleo.com'
    - 'medpage.com'
    - 'extremetech.com'
    - 'blackfriday.com'
    - 'babycentre.co.uk'
    - 'dailyom.com'
    - 'screenrant.com'
    - 'collider.com'
    - 'gamerant.com'
    - 'givemesport.com'
    - 'topspeed.com'
    - 'muo.com'
    - 'simpleflying.com'
    - 'cbr.com'
    - 'movieweb.com'
    - 'thegamer.com'
    - 'thetravelmoms.com'
    - 'thesportsster.com'
    - 'pocketlint.com'
    - 'thethings.com'
    - 'thecelticblog.com'
    - 'androidpolice.com'
    - 'vide'
    - 'hotcars.com'
    - 'thetalko.com'
    - 'thequiz.com'
    - 'xda.com'
    - 'ouslshockers.com'
    - 'therichest.com'
    - 'babygaga.com'
    - 'pocketnow.com'
    - 'parade.com'
    - 'thestreet.com'
    - 'toughnickel.com'
    - 'fadeawayworld.com'
    - 'thehockeynews.com'
    - 'snowboarding.com'
    - 'boarder.com'
    - 'roadfood.com'
    - 'dealbreaker.com'
    - 'athlonsports.com'
    - 'paradepets.com'
    - 'pethelpful.com'
    - 'surfer.com'
    - 'powder.com'
    - 'thespun.com'
    - 'newschoolers.com'
    - 'americanprofile.com'
    - 'spryliving.com'
    - 'mopar.com'
    - 'studentsforliberty.org'
    - 'hubpages.com'
    - 'bike.com'
    - 'smartycents.com'
    - 'fashionista.com'
    - 'skateboarding.com'
    - 'dailyparent.com'
    - 'wehavekids.com'
    - 'relish.com'
    - 'si.com'
    - 'healthline.com'
    - 'medicalnewstoday.com'
    - 'cnet.com'
    - 'allconnect.com'
    - 'platejoy.com'
    - 'confused.com'
    - 'money.com'
    - 'rastreator.com'
    - 'bankrate.com'
    - 'lonelyplanet.com'
    - 'creditcards.com'
    - 'healthcareg.com'
    - '2ndre.com'
    - 'chooseenergy.com'
    - 'onze.com'
    - 'greatist.com'
    - 'expertflyer.com'
    - 'psychcentral.com'
    - 'plateapr.com'
    - 'thepointsguy.com'
    - 'bestcolleges.com'
    - 'uswitch.com'
    - 'reviews.com'
    - 'lelynx.fr'
    - 'mymove.com'
    - 'coverage.com'
    - 'webmd.com'
    - 'allaw.com'
    - 'racingjunk.com'
    - 'additudemag.com'
    - 'vitals.com'
    - 'dentalplans.com'
    - 'medscape.com'
    - 'doityourself.com'
    - 'rxlist.com'
    - 'divorcenet.com'
    - 'medicinenet.com'
    - 'wikitravel.org'
    - 'nolo.com'
    - 'emedicinehealth.com'
    - 'carsdirect.com'
    - 'fodors.com'
    - 'criminaldefenselawyer.com'
    - 'apartmentratings.com'
    - 'modelmayhem.com'
    - 'thecarconnection.com'
    - 'flyertalk.com'
    - 'corvetteforum.com'
    - 'highdefdigest.com'
    - 'avvo.com'
    - 'martindale.com'
    - 'testdrive.com'
    - 'demandforce.com'
    - 'lawyers.com'
    - 'fitday.com'
    - 'emedicinehealth.com'
    - 'nolo.com'
    - 'rivalry.com'
    - 'eater.com'
    - 'punch.com'
    - 'theverge.com'
    - 'epicurious.com'
    - 'thedodo.com'
    - 'nytimes.com'
    - 'nowthisnews.com'
    - 'vulture.com'
    - 'vox.com'
    - 'thrillist.com'
    - 'grubstreet.com'
    - 'sbnation.com'
    - 'thecut.com'
    - 'polygon.com'
    - 'popsugar.com'
    - 'racked.com'
    - 'curbed.com'
    - 'concert.com'
    - 'coral.com'
    - 'digitaltrends.com'
    - 'newfolks.com'
    - 'happysprout.com'
    - 'toughjobs.com'
    - 'pawtracks.com'
    - 'blissmark.com'
    - 'themanual.com'
    - '210ak.com'
    - 'muscleandfitness.com'
    - 'okmagazine.com'
    - 'usmagazine.com'
    - 'soapoperadigest.com'
    - 'womansworld.com'
    - 'j-14.com'
    - 'dewtour.com'
    - 'lifetogo.com'
    - 'lifestylemag.com'
    - 'firstforwomen.com'
    - 'intouchweekly.com'
    - 'closerweekly.com'
    - 'variety.com'
    - 'billboard.com'
    - 'deadline.com'
    - 'hollywoodreporter.com'
    - 'sheknows.com'
    - 'indiewire.com'
    - 'goldderby.com'
    - 'bgr.com'
    - 'spy.com'
    - 'tvline.com'
    - 'sportico.com'
    - 'robbreport.com'
    - 'artforum.com'
    - 'wwd.com'
    - 'artnews.com'
    - 'lifeisbeautiful.com'
    - 'fn.com'
    - 'vibe.com'
    - 'sxsw.com'
    - 'sourcingjournal.com'
    - 'she.com'
    - 'theartpavilion.com'
    - 'fairchildlive.com'
    - 'ldjproductions.com'
    - 'bobvila.com'
    - 'popsci.com'
    - 'wearethemighty.com'
    - 'thedrive.com'
    - 'outdoorlife.com'
    - 'fieldandstream.com'
    - 'saveur.com'
    - 'futurism.com'
    - 'businessofhome.com'
    - 'janicerobinson.com'
    - 'taskandpurpose.com'
    - 'domino.com'
    - 'popphoto.com'
    - 'lonny.com'
    - 'dwell.com'
    - 'allure.com'
    - 'glamour.com'
    - 'vogue.com'
    - 'tatler.com'
    - 'wired.com'
    - 'glamour.com'
    - 'teenvogue.com'
    - 'vogue.com'
    - 'bonappetit.com'
    - 'them.us'
    - 'vanityfair.com'
    - 'houseandgarden.com'
    - 'self.com'
    - 'pitchfork.com'
    - 'arstechnica.com'
    - 'gq.com'
    - 'wadmag.com'
    - 'condenast.com'
    - 'johansens.com'
    - 'interiors.com'
    - 'epicurious.com'
    - 'newyorker.com'
    - 'tomsguide.com'
    - 'techradar.com'
    - 'homesandgardens.com'
    - 'livescience.com'
    - 'tomshardware.com'
    - 'space.com'
    - 'goodtoknow.co.uk'
    - 'imore.com'
    - 'creativebloq.com'
    - 'whathifi.com'
    - 'marieclaire.com'
    - 'kiplinger.com'
    - 'idealhome.co.uk'
    - 'pcgamer.com'
    - 'gamesradar.com'
    - 'whattowatch.com'
    - 'laptopmag.com'
    - 'fourfourtwo.com'
    - 'cyclingnews.com'
    - 'gamesradar.com'
    - 'gocompare.com'
    - 'musicradar.com'
    - 'whowhatwear.com'
    - 'golf.com'
    - 'androidcentral.com'
    - 'cinnamablend.com'
    - 'cosmopolitan.com'
    - 'womansday.com'
    - 'sfgate.com'
    - 'goodhousekeeping.com'
    - 'housebeautiful.com'
    - 'prevention.com'
    - 'runnersworld.com'
    - 'popularmechanics.com'
    - 'elle.com'
    - 'womenshealthmag.com'
    - 'best.com'
    - 'bicycling.com'
    - 'countryliving.com'
    - 'caranddriver.com'
    - 'roadandtrack.com'
    - 'redbookmag.com'
    - 'menshealth.com'
    - 'harpersbazaar.com'
    - 'veranda.com'
    - 'delish.com'
    - 'esquire.com'
    - 'digitalspy.com'
    - 'seventeen.com'
    - 'timesunion.com'
    - 'autoweek.com'
    - 'netdoctor.com'


engines:
  - name: bing
    disabled: true
  - name: brave
    disabled: true
  - name: duckduckgo
    disabled: false
  - name: google
    disabled: true
  - name: qwant
    disabled: true
  - name: startpage
    disabled: false
  - name: duckduckgo images
    disabled: false
  - name: bing images
    disabled: true
  - name: google images
    disabled: true
  - name: qwant images
    disabled: true
  - name: library genesis
    disabled: false
  - name: duckduckgo news
    disabled: false
  - name: google news
    disabled: true
  - name: bing news
    disabled: true
  - name: qwant news
    disabled: true
  - name: yahoo news
    disabled: true
  - name: marginalia
    disabled: false
    engine: json_engine
    shortcut: m
    paging: false
    # index: {"0": "popular", "1": "blogs", "2": "big_sites",
    # "3": "default", "4": experimental"}
    search_url: https://api.marginalia.nu/{{marginalia_api_key}}/search/{query}?index=4&count=20
    results_query: results
    url_query: url
    title_query: title
    content_query: description
    timeout: 1.5
    about:
      website: https://www.marginalia.nu/
      official_api_documentation: https://api.marginalia.nu/
      use_official_api: true
      require_api_key: true
      results: JSON
