server {
	server_name {{chatpad_domain}};
	root {{chatpad_site_root}}/public_html;
	access_log {{chatpad_site_root}}/logs/access.log;
	error_log {{chatpad_site_root}}/logs/error.log;

    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/home.tristanhavelick.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/home.tristanhavelick.com/privkey.pem;
}

server {
    if ($host = {{chatpad_domain}}) {
        return 301 https://$host$request_uri;
    }
	server_name {{chatpad_domain}};
    listen 80;
    return 404;
}
