server {
	server_name {{wallabag_domain}};
	root {{wallabag_site_root}}/public_html/web;
	access_log {{wallabag_site_root}}/logs/access.log;
	error_log {{wallabag_site_root}}/logs/error.log;
	location / {
	    try_files $uri /app.php$is_args$args;
	}
	location ~ ^/app\.php(/|$) {
	    fastcgi_pass unix:/run/php/php8.2-fpm.sock;
	    fastcgi_split_path_info ^(.+\.php)(/.*)$;
	    include fastcgi_params;
	    fastcgi_param  SCRIPT_FILENAME  $realpath_root$fastcgi_script_name;
	    fastcgi_param DOCUMENT_ROOT $realpath_root;
	    internal;
	}

	client_max_body_size 10M;

    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/home.tristanhavelick.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/home.tristanhavelick.com/privkey.pem;
}

server {
    if ($host = {{wallabag_domain}}) {
        return 301 https://$host$request_uri;
    }
	server_name {{wallabag_domain}};
    listen 80;
    return 404;
}
