parameters:
    database_driver: pdo_sqlite
    database_host: 127.0.0.1
    database_port: null
    database_name: wallabag
    database_user: root
    database_password: null
    database_path: /var/www/{{wallabag_domain}}/wallabag.db
    database_table_prefix: wallabag_
    database_socket: null
    database_charset: utf8mb4
    domain_name: 'http://{{wallabag_domain}}'
    server_name: "{{wallabag_server_name}}"
    mailer_transport: smtp
    mailer_user: {{wallabag_email}}
    mailer_password: {{wallabag_email_password}}
    mailer_host: smtp.migadu.com
    mailer_port: false
    mailer_encryption: null
    mailer_auth_mode: null
    locale: en
    secret: {{wallabag_secret}}
    twofactor_auth: false
    twofactor_sender: {{wallabag_email}}
    fosuser_registration: true
    fosuser_confirmation: true
    fos_oauth_server_access_token_lifetime: 3600
    fos_oauth_server_refresh_token_lifetime: 1209600
    from_email: {{wallabag_email}}
    rss_limit: 50
    rabbitmq_host: localhost
    rabbitmq_port: 5672
    rabbitmq_user: guest
    rabbitmq_password: guest
    rabbitmq_prefetch_count: 10
    redis_scheme: tcp
    redis_host: localhost
    redis_port: 6379
    redis_path: null
    redis_password: null
    sentry_dsn: null
