server {
	server_name {{domain}};
    location ^~ /.well-known {
        location = /.well-known/carddav { return 301 /remote.php/dav/; }
        location = /.well-known/caldav  { return 301 /remote.php/dav/; }

        location /.well-known/acme-challenge    { try_files $uri $uri/ =404; }
        location /.well-known/pki-validation    { try_files $uri $uri/ =404; }

        # Let Nextcloud's API for `/.well-known` URIs handle all other
        # requests by passing them to the front-end controller.
        return 301 /index.php$request_uri;
    }

	location / {
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Host $host;
		proxy_pass http://localhost:{{port}};
	}
	listen 443 ssl;
    add_header Strict-Transport-Security "max-age=15552000; includeSubDomains" always;

    ssl_certificate /etc/letsencrypt/live/home.tristanhavelick.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/home.tristanhavelick.com/privkey.pem;
}

server {
    if ($host = {{domain}}) {
        return 301 https://$host$request_uri;
    }
	server_name {{domain}};
    listen 80;
    return 404;
}