server {
	server_name {{miniflux_domain}};
	location / {
		proxy_pass http://localhost:{{miniflux_port}};
	}
	listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/home.tristanhavelick.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/home.tristanhavelick.com/privkey.pem;
}

server {
    if ($host = {{miniflux_domain}}) {
        return 301 https://$host$request_uri;
    }
	server_name {{miniflux_domain}};
    listen 80;
    return 404;
}
