---
__preset__:
  overrides:
    tv_show_directory: "{{ytdl_sub_root}}/data/tv_shows"
    only_recent_date_range: "2months"
    only_recent_max_files: 30
Jellyfin TV Show by Date:
  = Documentaries:
    # "Answers In Progress": "https://www.youtube.com/@answersinprogress"
    # "Climate Town": "https://www.youtube.com/@ClimateTown"
    # "Computerphile": "https://www.youtube.com/@Computerphile"
    # "How to Make Everything": "https://www.youtube.com/@htme"
    # "Not Just Bikes": "https://www.youtube.com/@NotJustBikes"
    # "MinuteEarth": "https://www.youtube.com/@minuteearth"
    # "MinutePhysics": "https://www.youtube.com/@minutephysics"
    # "NOVA PBS": "https://www.youtube.com/@novapbs"
    # "Numberphile": "https://www.youtube.com/@numberphile"
    "Omeleto Documentary": "https://www.youtube.com/@OmeletoDocumentary"
    # "Technology Connections": "https://www.youtube.com/@TechnologyConnections"
  # = Vlogs:
    # "The 8-Bit Guy": "https://www.youtube.com/@The8BitGuy"
    # "Action Retro": "https://www.youtube.com/@ActionRetro"
    # "Game Maker's Toolkit": "https://www.youtube.com/@GMTK"
    # "Modern Vintage Gamer": "https://www.youtube.com/@ModernVintageGamer"
    # "Stand Up Maths": "https://www.youtube.com/@standupmaths"
    # "Steve Mould": "https://www.youtube.com/@stevemould"
    # "Suckerpinch": "https://www.youtube.com/@tom7"
    # "Tom Scott": "https://www.youtube.com/@TomScottGo"
    # "Veronica Explains": "https://www.youtube.com/@VeronicaExplains"
  # = Science News | Only Recent:
    # "Two Minute Papers": "https://www.youtube.com/@TwoMinutePapers"
  # = Cooking:
    # "Internet Shaquille": "https://www.youtube.com/@internetshaquille"
  = Short Film:
    # "ALTER": "https://www.youtube.com/@WatchALTER"
    # "DUST": "https://www.youtube.com/@watchdust"
    # "Gunpowder & Sky": "https://www.youtube.com/@GunpowderSky"
    "Omeleto": "https://www.youtube.com/@Omeleto"
    "Omeleto Animation": "https://www.youtube.com/@OmeletoAnimation"
    # "Omeleto Comedy": "https://www.youtube.com/@OmeletoComedy"
    # "Omeleto Drama": "https://www.youtube.com/@OmeletoDrama"
    # "Omeleto Romance": "https://www.youtube.com/@OmeletoRomance"
    # "Omeleto Sci-Fi": "https://www.youtube.com/@OmeletoSciFi"
    # "Short of the Week": "https://www.youtube.com/@shortoftheweek"
