#!/bin/bash

set -e
cd {{ wyoming_satellite_root }}/wyoming-satellite && script/run \
	--name 'my satellite' \
	--uri 'tcp://0.0.0.0:10700' \
	--mic-command 'arecord -D hw:1,0 -r 44100 -c 1 -f S16_LE -t raw' \
	--snd-command 'aplay -r 22050 -c 1 -f S16_LE -t raw' \
	--wake-uri 'tcp://127.0.0.1:10400' \
  	--wake-word-name 'hey_mycroft'
