[Unit]
Description=Just Bangs
After=syslog.target network.target

[Service]
WorkingDirectory={{just_bangs_site_root}}/public_html
ExecStart={{just_bangs_site_root}}/public_html/just_bangs.py
ExecStop=pkill just_bangs.py
Restart=on-failure
Environment="JUST_BANGS_DEFAULT_BANG=w"

[Install]
WantedBy=default.target
