[Unit]
Description=Navidrome Music Server
After=network.target

[Service]
ExecStart={{ navidrome_site_root }}/bin/navidrome --configfile {{ navidrome_site_root }}/conf/navidrome.toml
ExecStop=pkill navidrome
Restart=on-failure

[Install]
WantedBy=multi-user.target
